@import "../base/variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

// Add things here for customization

$nav-link-color: $text-link-color;
$nav-link-hover-color: $text-link-color;
$font-family-sans-serif: "Open Sans", sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px,
) !default;

.navbar-brand {
  color: $text-color !important;
  font-weight: 800;
  &:hover,
  &:focus {
    color: $text-color;
  }
}
.navbar-light {
  border-color: unset;
  .navbar-toggler {
    border-color: unset;
    color: unset;
    border: none;
  }
}
