@import "./base/variables";
@import "./themes/theme";
// Add things here for customization

$nav-link-color: $text-link-color;
$nav-link-hover-color: $text-link-color;
$font-family-sans-serif: "Open Sans", sans-serif;
@import "~bootstrap/scss/bootstrap";
